extends base.pug

block content 
    h4 Change Title of the #{video.title}
    form(method="POST")
        input(placeholder="video title", name="title", value=video.title, required)
        input(placeholder="Description", name="description", value=video.description , required, type="text", maxlength="200")
        input(placeholder="Hashtags", name="hashtags", value=video.hashtags.join(), required, type="text")
        input(value="save", type="submit")